@using Microsoft.AspNetCore.Mvc.Rendering
@{
    // Para saber qué pestaña está activa
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<aside class="d-flex flex-column vh-100 p-3 bg-light" style="width: 250px;">
    <!-- Perfil de usuario -->
    <div class="d-flex align-items-center mb-4">
        <img src="~/images/avatar.jpg" alt="Avatar" class="rounded-circle me-2" width="48" height="48" />
        <div>
            <div class="fw-bold">Dr. Francisco Ibañez</div>
            <small class="text-muted">Fisioterapeuta</small>
        </div>
    </div>

    <!-- Navegación -->
    <nav class="nav nav-pills flex-column mb-auto">
            <a asp-controller="Dashboard" asp-action="Index"
                class="nav-link d-flex align-items-center mb-2 text-dark @(currentController=="Dashboard"?"active bg-gris-oscuro":"")">
                <i class="bi bi-house-fill me-2"></i>
                <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5435 7.39418C16.5429 7.39379 16.5426 7.39327 16.5422 7.39288L9.60681 0.458488C9.31119 0.162773 8.91816 0 8.5001 0C8.08203 0 7.689 0.162773 7.39326 0.458488L0.461536 7.38938C0.459201 7.39172 0.456736 7.39418 0.454531 7.39651C-0.152525 8.00701 -0.151487 8.99753 0.457515 9.60647C0.735749 9.8848 1.1031 10.0459 1.496 10.0629C1.51208 10.0644 1.52816 10.0652 1.54438 10.0652H1.82067V15.1684C1.82067 16.1784 2.64253 17 3.6526 17H6.36593C6.64105 17 6.86403 16.7769 6.86403 16.502V12.501C6.86403 12.0402 7.23903 11.6653 7.6999 11.6653H9.3003C9.76117 11.6653 10.136 12.0402 10.136 12.501V16.502C10.136 16.7769 10.359 17 10.6341 17H13.3475C14.3577 17 15.1794 16.1784 15.1794 15.1684V10.0652H15.4357C15.8536 10.0652 16.2467 9.90244 16.5426 9.6066C17.1522 8.99675 17.1525 8.00442 16.5435 7.39418ZM15.8381 8.90233C15.7305 9.00985 15.5876 9.06912 15.4357 9.06912H14.6813C14.4062 9.06912 14.1832 9.29208 14.1832 9.56717V15.1684C14.1832 15.6291 13.8083 16.0039 13.3475 16.0039H11.1322V12.501C11.1322 11.491 10.3105 10.6692 9.3003 10.6692H7.6999C6.6897 10.6692 5.86784 11.491 5.86784 12.501V16.0039H3.6526C3.19186 16.0039 2.81686 15.6291 2.81686 15.1684V9.56717C2.81686 9.29208 2.59388 9.06912 2.31876 9.06912H1.57733C1.56954 9.0686 1.56189 9.06821 1.55398 9.06808C1.40559 9.06549 1.2664 9.00661 1.16211 8.9022C0.940306 8.68041 0.940306 8.31946 1.16211 8.09754C1.16224 8.09754 1.16224 8.09741 1.16237 8.09728L1.16276 8.09689L8.09786 1.16276C8.20526 1.05524 8.34807 0.996094 8.5001 0.996094C8.65199 0.996094 8.79481 1.05524 8.90234 1.16276L15.8359 8.09547C15.8369 8.0965 15.8381 8.09754 15.8391 8.09858C16.0598 8.32076 16.0594 8.68093 15.8381 8.90233Z" fill="black" />
                </svg>
                 Dashboard                
            
        </a>

        <a asp-controller="Paciente" asp-action="Index"
           class="nav-link d-flex align-items-center mb-2 text-dark @(currentController == "Paciente" ? "active bg-gris-oscuro" : "")">
            <i class="bi bi-person-lines-fill me-2"></i>
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.875 8.75001C5.46263 8.75001 3.5 6.78738 3.5 4.375C3.5 1.96263 5.46263 0 7.875 0C10.2874 0 12.25 1.96263 12.25 4.375C12.25 6.78738 10.2874 8.75001 7.875 8.75001ZM7.875 0.875001C5.94475 0.875001 4.375 2.44475 4.375 4.375C4.375 6.30526 5.94475 7.87501 7.875 7.87501C9.80526 7.87501 11.375 6.30526 11.375 4.375C11.375 2.44475 9.80526 0.875001 7.875 0.875001Z" fill="black" />
                <path d="M5.68751 18.375H0.4375C0.196 18.375 0 18.179 0 17.9375V14.4375C0 12.2666 1.76663 10.5 3.9375 10.5H11.8125C12.8861 10.5 13.9195 10.9419 14.6501 11.7128C14.8164 11.8878 14.8094 12.1651 14.6335 12.3314C14.4585 12.4985 14.1811 12.4906 14.0149 12.3148C13.4496 11.718 12.6464 11.375 11.8125 11.375H3.9375C2.24875 11.375 0.875001 12.7488 0.875001 14.4375V17.5H5.68751C5.92901 17.5 6.12501 17.696 6.12501 17.9375C6.12501 18.179 5.92901 18.375 5.68751 18.375Z" fill="black" />
                <path d="M12.6875 21C12.5221 21 12.3708 20.9073 12.2964 20.7585L10.6671 17.5H8.3125C8.071 17.5 7.875 17.304 7.875 17.0625C7.875 16.821 8.071 16.625 8.3125 16.625H10.9375C11.1029 16.625 11.2543 16.7186 11.3286 16.8665L12.6569 19.523L14.91 14.2651C14.9774 14.1085 15.1288 14.0053 15.2994 14C15.4683 14.0061 15.6275 14.0892 15.7036 14.2415L18.2079 19.25H20.5625C20.804 19.25 21 19.446 21 19.6875C21 19.929 20.804 20.125 20.5625 20.125H17.9375C17.7721 20.125 17.6208 20.0314 17.5464 19.8835L15.3431 15.477L13.09 20.7349C13.0226 20.8915 12.8713 20.9948 12.7006 21C12.6963 21 12.6919 21 12.6875 21Z" fill="black" />
            </svg>
            Pacientes

        </a>

        <a asp-controller="Clase" asp-action="Index"
           class="nav-link d-flex align-items-center mb-2 text-dark @(currentController == "Clase" ? "active bg-gris-oscuro" : "")">
            <i class="bi bi-people-fill me-2"></i>
            <svg width="23" height="17" viewBox="0 0 23 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.2456 10.2357H20.7353V9.66422C20.7353 9.24503 20.6061 8.85637 20.3868 8.53673C20.7893 7.55416 20.948 6.62753 20.8981 5.56577C20.8289 4.09164 20.2793 2.70511 19.3506 1.66162C18.397 0.59011 17.1481 0 15.834 0C13.8285 0 12.1867 1.266 11.5073 1.88119C10.8474 1.26014 9.25144 0 7.16611 0C5.8521 0 4.60317 0.59011 3.64952 1.66162C2.72075 2.70516 2.17118 4.09168 2.10195 5.56586C2.05222 6.62766 2.21075 7.55434 2.61308 8.53701C2.3939 8.8566 2.26479 9.24517 2.26479 9.66422V10.2357H1.75452C0.787081 10.2357 0 11.0403 0 12.0292C0 13.0182 0.787081 13.8228 1.75452 13.8228H2.26479V14.3943C2.26479 15.4798 3.12865 16.363 4.19052 16.363C4.65762 16.363 5.08631 16.192 5.42008 15.9081C5.73615 16.5547 6.38972 17 7.14352 17C8.20539 17 9.06924 16.1168 9.06924 15.0312V14.9233C10.3126 15.8266 11.2463 16.4684 11.2572 16.4758C11.333 16.5279 11.4206 16.554 11.5082 16.554C11.5957 16.554 11.6833 16.5279 11.7591 16.4759C11.7699 16.4685 12.6957 15.8325 13.9308 14.9348V15.0313C13.9308 16.1168 14.7946 17 15.8565 17C16.6102 17 17.2638 16.5547 17.5799 15.9082C17.9137 16.192 18.3424 16.363 18.8095 16.363C19.8714 16.363 20.7352 15.4799 20.7352 14.3943V13.8228H21.2455C22.2129 13.8228 23 13.0183 23 12.0293C23.0001 11.0403 22.2131 10.2357 21.2456 10.2357ZM2.99941 5.60957C3.12092 3.02127 4.99009 0.915513 7.16611 0.915513C9.46348 0.915513 11.148 2.80527 11.1642 2.8238C11.2477 2.91975 11.3673 2.97531 11.4931 2.97737C11.6197 2.97998 11.7402 2.9273 11.8268 2.83415C11.8446 2.81497 13.6349 0.915513 15.834 0.915513C18.01 0.915513 19.8792 3.02127 20.0007 5.60957C20.039 6.42612 19.9345 7.15154 19.666 7.90167C19.4078 7.77003 19.1172 7.69556 18.8096 7.69556C18.3425 7.69556 17.9138 7.86657 17.5801 8.15041C17.264 7.50386 16.6104 7.05857 15.8566 7.05857C14.7947 7.05857 13.9309 7.94172 13.9309 9.02729V10.2357H9.06929V9.02729C9.06929 7.94172 8.20543 7.05857 7.14356 7.05857C6.38981 7.05857 5.7362 7.50386 5.42013 8.15041C5.08631 7.86657 4.65762 7.69556 4.19056 7.69556C3.88293 7.69556 3.59215 7.77007 3.33394 7.90176C3.06553 7.15159 2.96113 6.42612 2.99941 5.60957ZM9.06929 11.1512H13.9309V12.9073H9.06929V11.1512ZM1.75452 12.9073C1.28248 12.9073 0.898443 12.5134 0.898443 12.0292C0.898443 11.5451 1.28248 11.1512 1.75452 11.1512H2.26479V12.9073H1.75452V12.9073ZM4.19052 15.4475C3.62409 15.4475 3.16324 14.975 3.16324 14.3943V9.66422C3.16324 9.08345 3.62409 8.61098 4.19052 8.61098C4.75694 8.61098 5.2178 9.08345 5.2178 9.66422V14.3943C5.2178 14.975 4.75698 15.4475 4.19052 15.4475ZM8.17084 15.0312C8.17084 15.612 7.70999 16.0844 7.14356 16.0844C6.57714 16.0844 6.11628 15.612 6.11628 15.0312V9.02733C6.11628 8.44656 6.57714 7.97409 7.14356 7.97409C7.70999 7.97409 8.17084 8.44656 8.17084 9.02733V15.0312ZM11.5082 15.5427C11.0857 15.2485 10.1731 14.6075 9.10477 13.8227H13.9107C12.8434 14.6075 11.9308 15.2486 11.5082 15.5427ZM16.8839 15.0312C16.8839 15.612 16.423 16.0844 15.8566 16.0844C15.2902 16.0844 14.8293 15.612 14.8293 15.0312V9.02733C14.8293 8.44656 15.2902 7.97409 15.8566 7.97409C16.423 7.97409 16.8839 8.44656 16.8839 9.02733V15.0312ZM19.8369 14.3943C19.8369 14.975 19.376 15.4475 18.8096 15.4475C18.2432 15.4475 17.7823 14.975 17.7823 14.3943V9.66422C17.7823 9.08345 18.2432 8.61098 18.8096 8.61098C19.376 8.61098 19.8369 9.08345 19.8369 9.66422V14.3943ZM21.2456 12.9073H20.7353V11.1512H21.2456C21.7177 11.1512 22.1017 11.545 22.1017 12.0292C22.1017 12.5134 21.7177 12.9073 21.2456 12.9073Z" fill="black" />
            </svg>
            Clases

        </a>

        <a asp-controller="Ejercicio" asp-action="Index"
           class="nav-link d-flex align-items-center mb-2 text-dark @(currentController == "Ejercicio" ? "active bg-gris-oscuro" : "")">
            <i class="bi bi-barbell me-2"></i>
            <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21.5 3.08691H20.5C20.324 3.08691 20.157 3.12291 20 3.17891V1.58691C20 0.759914 19.327 0.0869141 18.5 0.0869141H17.5C16.673 0.0869141 16 0.759914 16 1.58691V5.08691H7V1.58691C7 0.759914 6.327 0.0869141 5.5 0.0869141H4.5C3.673 0.0869141 3 0.759914 3 1.58691V3.17891C2.843 3.12291 2.676 3.08691 2.5 3.08691H1.5C0.673 3.08691 0 3.75991 0 4.58691V10.5869C0 11.4139 0.673 12.0869 1.5 12.0869H2.5C2.676 12.0869 2.843 12.0509 3 11.9949V13.5869C3 14.4139 3.673 15.0869 4.5 15.0869H5.5C6.327 15.0869 7 14.4139 7 13.5869V10.0869H16V13.5869C16 14.4139 16.673 15.0869 17.5 15.0869H18.5C19.327 15.0869 20 14.4139 20 13.5869V11.9949C20.157 12.0509 20.324 12.0869 20.5 12.0869H21.5C22.327 12.0869 23 11.4139 23 10.5869V4.58691C23 3.75991 22.327 3.08691 21.5 3.08691ZM3 10.5869C3 10.8624 2.7755 11.0869 2.5 11.0869H1.5C1.2245 11.0869 1 10.8624 1 10.5869V4.58691C1 4.31141 1.2245 4.08691 1.5 4.08691H2.5C2.7755 4.08691 3 4.31141 3 4.58691V10.5869ZM6 13.5869C6 13.8624 5.7755 14.0869 5.5 14.0869H4.5C4.2245 14.0869 4 13.8624 4 13.5869V10.5869V4.58691V1.58691C4 1.31141 4.2245 1.08691 4.5 1.08691H5.5C5.7755 1.08691 6 1.31141 6 1.58691V13.5869ZM16 9.08691H7V6.08691H16V9.08691ZM19 4.58691V10.5869V13.5869C19 13.8624 18.7755 14.0869 18.5 14.0869H17.5C17.2245 14.0869 17 13.8624 17 13.5869V1.58691C17 1.31141 17.2245 1.08691 17.5 1.08691H18.5C18.7755 1.08691 19 1.31141 19 1.58691V4.58691ZM22 10.5869C22 10.8624 21.7755 11.0869 21.5 11.0869H20.5C20.2245 11.0869 20 10.8624 20 10.5869V4.58691C20 4.31141 20.2245 4.08691 20.5 4.08691H21.5C21.7755 4.08691 22 4.31141 22 4.58691V10.5869Z" fill="black" />
            </svg>
            Material de apoyo

        </a>

        <a asp-controller="Documento" asp-action="Index"
           class="nav-link d-flex align-items-center mb-2 text-dark @(currentController == "Documento" ? "active bg-gris-oscuro" : "")">
            <i class="bi bi-file-earmark-text me-2"></i>
            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.6595 15.4327H2.46553C1.98666 15.4323 1.52751 15.242 1.18891 14.9034C0.850302 14.5648 0.65992 14.1056 0.659573 13.6267V1.80595C0.65992 1.32709 0.850302 0.867944 1.18891 0.529337C1.52751 0.19073 1.98666 0.000349148 2.46553 1.26427e-06H9.074C9.33887 -0.000312522 9.60055 0.0577877 9.8404 0.170163C10.0802 0.282539 10.2924 0.446424 10.4616 0.650144L13.0471 3.75244C13.3173 4.07703 13.4653 4.48595 13.4654 4.90825V13.6267C13.4651 14.1056 13.2747 14.5648 12.9361 14.9034C12.5975 15.242 12.1383 15.4323 11.6595 15.4327ZM2.46553 0.985067C2.24792 0.985414 2.03933 1.07201 1.88545 1.22588C1.73158 1.37975 1.64499 1.58835 1.64464 1.80595V13.6267C1.64499 13.8443 1.73158 14.0529 1.88545 14.2068C2.03933 14.3607 2.24792 14.4473 2.46553 14.4476H11.6595C11.8771 14.4473 12.0857 14.3607 12.2395 14.2068C12.3934 14.0529 12.48 13.8443 12.4804 13.6267V4.90825C12.4803 4.71625 12.4129 4.53035 12.2899 4.38289L9.70444 1.28059C9.62762 1.18793 9.53127 1.11339 9.42228 1.0623C9.3133 1.01121 9.19437 0.98484 9.074 0.985067H2.46553Z" fill="black" fill-opacity="0.6" />
                <path d="M12.9598 5.25368H9.68936C9.38467 5.25333 9.09255 5.13214 8.8771 4.91669C8.66165 4.70124 8.54046 4.40913 8.54012 4.10444V0.492533C8.54012 0.361905 8.59201 0.236627 8.68438 0.144259C8.77674 0.0518917 8.90202 0 9.03265 0C9.16328 0 9.28855 0.0518917 9.38092 0.144259C9.47329 0.236627 9.52518 0.361905 9.52518 0.492533V4.10444C9.52569 4.14782 9.54315 4.18929 9.57383 4.21996C9.60451 4.25064 9.64597 4.26811 9.68936 4.26862H12.9598C13.0904 4.26862 13.2157 4.32051 13.308 4.41288C13.4004 4.50524 13.4523 4.63052 13.4523 4.76115C13.4523 4.89178 13.4004 5.01706 13.308 5.10942C13.2157 5.20179 13.0904 5.25368 12.9598 5.25368Z" fill="black" fill-opacity="0.6" />
            </svg>
            Documentos

        </a>

        <a asp-controller="Cita" asp-action="Index"
           class="nav-link d-flex align-items-center mb-2 text-dark @(currentController == "Cita" ? "active bg-gris-oscuro" : "")">
            <i class="bi bi-calendar-check-fill me-2"></i>
            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.052 17H1.94796C0.873398 17 0 16.1266 0 15.0521V3.36458C0 2.29002 0.873398 1.41675 1.94796 1.41675H15.052C16.1266 1.41675 17 2.29002 17 3.36458V15.0521C17 16.1266 16.1266 17 15.052 17ZM1.94796 2.47925C1.4599 2.47925 1.0625 2.87652 1.0625 3.36458V15.0521C1.0625 15.5401 1.4599 15.9375 1.94796 15.9375H15.052C15.5401 15.9375 15.9375 15.5401 15.9375 15.0521V3.36458C15.9375 2.87652 15.5401 2.47925 15.052 2.47925H1.94796Z" fill="black" fill-opacity="0.6" />
                <path d="M16.4688 6.72925H0.53125C0.237999 6.72925 0 6.49125 0 6.198C0 5.90475 0.237999 5.66675 0.53125 5.66675H16.4688C16.762 5.66675 17 5.90475 17 6.198C17 6.49125 16.762 6.72925 16.4688 6.72925Z" fill="black" fill-opacity="0.6" />
                <path d="M4.07306 4.25C3.77981 4.25 3.54181 4.012 3.54181 3.71875V0.53125C3.54181 0.237999 3.77981 0 4.07306 0C4.36631 0 4.60431 0.237999 4.60431 0.53125V3.71875C4.60431 4.012 4.36631 4.25 4.07306 4.25Z" fill="black" fill-opacity="0.6" />
                <path d="M12.9269 4.25C12.6337 4.25 12.3957 4.012 12.3957 3.71875V0.53125C12.3957 0.237999 12.6337 0 12.9269 0C13.2202 0 13.4582 0.237999 13.4582 0.53125V3.71875C13.4582 4.012 13.2202 4.25 12.9269 4.25Z" fill="black" fill-opacity="0.6" />
            </svg>
            Citas

        </a>
    </nav>

    <!-- Cerrar sesión abajo -->
    <div class="mt-auto">
        <a asp-controller="Account" asp-action="Logout"
           class="nav-link d-flex align-items-center text-danger">
            <i class="bi bi-box-arrow-left me-2"></i> Cerrar sesión
        </a>
    </div>
</aside>
